* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#index_wrapper {
    display: grid;
    grid-template-rows: 0.24fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-areas: 
    "he he na"
    "a1 s1 s1"
    "s2 a2 a2"
    "a3 s3 s3"
    ;
    height: 100vh;
    width: 100vw;
}

#index_header {
    grid-area: he;
    background-color: aqua;
}

#index_nav {
    grid-area: na;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: yellow;
    font-family: sans-serif;
    height: 100px;
}

#index_nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    top: -90vh;
    right: 0px;
    width: 200px;
    align-items: center;
    background-color: yellow;
    transition: all 0.5s;
}

#index_nav-active {
    transform: translateY(100vh);
}

#index_nav-links li {
    list-style: none;
}

#index_nav-links {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: rgb(223, 144, 70);
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(223,144,70);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger {
    margin-right: 3.125rem;
    cursor: pointer;
}

#index_Ryssland {
    grid-area: s1;
    background-color: red;
}

#Bild_Ryssland {
    grid-area: a1;
    background-color: blue;
}

#index_Belarus {
    grid-area: s2;
    background-color: blueviolet;
}

#Bild_Belarus {
    grid-area: a2;
    background-color: brown;
}

#index_Litauen {
    grid-area: s3;
    background-color: burlywood;
}

#Bild_Litauen {
    grid-area: a3;
    background-color: chocolate;
}

@media screen and (min-width: 376px) {
    
    .burger {
        display: none;
    }

    #index_wrapper {
        display: grid;
        grid-template-rows: 0.17fr 0.17fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "he he he"
        "na na na"
        "s1 a2 s3"
        "a1 s2 a3"
        ;
    }

    #index_nav-links {
        flex-direction: row;
        height: 1fr;
        top: 0;
        left: 0px;
        width: 0.17fr;
    }

    #index_nav-active {
        transform: none;
    }

}
