/* För att göra en bakgrund för mina texter: margin (Utanför border), padding (Inanför border), border-radius och border. */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

p {
    padding: 10px;
    margin: 10px;
    text-align: inherit;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* figure-tagg (för alla bilder) */

figure {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
    margin: 5px;
}

figure:hover {
    max-zoom: 100%;
}

#Logga {
    height: 100px;
}

img {
    height: 50%;
    width: 100%;
    border: 1px solid black;
    transition: 0.5s all ease-in-out;
}

#Bild_Ryssland:hover img {
    transform: scale(1.045);
}

#Bild_Belarus:hover img {
    transform: scale(1.045);
}

#Bild_Litauen:hover img {
    transform: scale(1.045);
}

/* CSS för index.html (Första sidan) */

#index_wrapper {
    display: grid;
    grid-template-rows: minmax(50px, 0.24fr) minmax(500px, 1fr) minmax(500px, 1fr) minmax(500px, 1fr);
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 0.5fr) minmax(100px, 0.5fr);
    grid-template-areas: 
    "he he na"
    "a1 s1 s1"
    "s2 a2 a2"
    "a3 s3 s3"
    ;
    max-width: fit-content;
    height: 100vh;
    width: 100vw;
}

#index_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: he;
    background-color: aqua;
    padding: 5px;
    margin: 5px;
}

/* Behöver ändra id:et "nav" till inget id alls för naven med både hamburgamenyn och länkarna. */
#nav {
    grid-area: na;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: yellow;
    font-family: sans-serif;
    position: relative;
    height: 0.17fr;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh; /* Ändra detta för att lösa ett problem med nav-länkarna för dator-layouten */
    top: -90vh;
    right: 0px;
    width: auto;
    position: fixed;
    align-items: center;
    background-color: yellow;
    transition: all 0.5s;
    padding: 5px;
    margin: 5px;
}

.nav-active {
    transform: translateY(95vh);
}

#nav-links ul { /* Ändra något här för att lösa ett problem med hur länkarna ser ut när man trycker ner sidan till att bli en mobils storlek. */
    display: flex;
    align-items: center;
}

#nav-links li {
    list-style: none;
}

#nav-links a {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: red;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(223,144,70);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger {
    margin-right: 3.125rem;
    cursor: pointer;
}

#index_Ryssland {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: s1;
    background-color: red;
    padding: 5px;
    margin: 5px;
    overflow: scroll;
}

#Bild_Ryssland {
    grid-area: a1;
    background-color: blue;
    padding: 5px;
    margin: 5px;
}

#index_Belarus {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: s2;
    background-color: blueviolet;
    padding: 5px;
    margin: 5px;
    overflow: scroll;
}

#Bild_Belarus {
    grid-area: a2;
    background-color: brown;
    padding: 5px;
    margin: 5px;
}

#index_Litauen {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: s3;
    background-color: burlywood;
    padding: 5px;
    margin: 5px;
    overflow: scroll;
}

#Bild_Litauen {
    grid-area: a3;
    background-color: chocolate;
    padding: 5px;
    margin: 5px;
}

@media screen and (min-width: 600px) {
    
    .burger {
        display: none;
    }

    #index_wrapper {
        grid-template-rows: 0.17fr 0.17fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "he he he"
        "na na na"
        "s1 a2 s3"
        "a1 s2 a3" 
        ;
    }

    #nav-links {
        flex-direction: row;
        height: 100px; /* Ändra det här för att kanske lösa ett problem för nav-länkarna */
        top: 0 !important;
        left: 0px;
        right: none !important;
        width: 100%;
        position: unset;
    }

    .nav-active {
        transform: none;
    }

    #index_Belarus {
        overflow: hidden;
    }

}

/* CSS för ryssland.html (Andra sidan) */

#ryssland_wrapper {
    display: grid;
    grid-template-rows: 1fr 8fr 5fr 5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "na_1 na_1 na_1 na"
    "he he he he"
    "se_1 se_1 se_2 se_2"
    "ar_1 ar_1 ar_2 ar_2"
    ;
    max-width: fit-content;
    height: 100vh;
    width: 100vw;
}

#ryssland_header {
    grid-area: he;
    background-color: greenyellow;
    padding: 5px;
    margin: 5px;
}

#ryssland_header:hover img {
    transform: scale(1.015);
}

#ryssland_headline {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: na_1;
    background-color: yellowgreen;
    padding: 5px;
    margin: 5px;
}

#section_ryssland_kultur {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: se_1;
    background-color: red;
    padding: 5px;
    margin: 5px;
}

#article_ryssland_kultur {
    grid-area: ar_1;
    background-color: royalblue;
    padding: 5px;
    margin: 5px;
}

#section_ryssland_historia {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: se_2;
    background-color: lightslategrey;
    padding: 5px;
    margin: 5px;
}

#article_ryssland_historia {
    grid-area: ar_2;
    background-color: firebrick;
    padding: 5px;
    margin: 5px;
}

@media screen and (min-width: 800px) {

    .burger {
        display: none;
    }

    #ryssland_wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr 7fr 4.6fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "na_1 na_1 na_1 na_1"
        "na na na na"
        "he he he he"
        "se_1 ar_1 se_2 ar_2"
        ;
    }
    #nav-links {
        flex-direction: row;
        top: 55px;
        left: 0px;
        position: none;
    }

    .nav-active {
        transform: none;
    }
}

/* CSS för belarus.html (Tredje sidan)*/

#belarus_wrapper {
    display: grid;
    grid-template-rows: 1fr 8fr 5fr 5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "na_1 na_1 na_1 na"
    "he he he he"
    "se_1 se_1 se_2 se_2"
    "ar_1 ar_1 ar_2 ar_2"
    ;
    max-width: fit-content;
    height: 100vh;
    width: 100vw;
}

#belarus_header {
    grid-area: he;
    background-color: greenyellow;
    padding: 5px;
    margin: 5px;
}

#belarus_header:hover img {
    transform: scale(1.015);
}

#belarus_headline {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: na_1;
    background-color: yellowgreen;
    padding: 5px;
    margin: 5px;
}

#section_belarus_kultur {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: se_1;
    background-color: red;
    padding: 5px;
    margin: 5px;
}

#article_belarus_kultur {
    grid-area: ar_1;
    background-color: royalblue;
    padding: 5px;
    margin: 5px;
}

#section_belarus_historia {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: se_2;
    background-color: lightslategrey;
    padding: 5px;
    margin: 5px;
}

#article_belarus_historia {
    grid-area: ar_2;
    background-color: firebrick;
    padding: 5px;
    margin: 5px;
}

@media screen and (min-width: 800px) {

    .burger {
        display: none;
    }

    #belarus_wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr 7fr 4.6fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "na_1 na_1 na_1 na_1"
        "na na na na"
        "he he he he"
        "se_1 ar_1 se_2 ar_2"
        ;
    }
    #nav-links {
        flex-direction: row;
        top: 55px;
        left: 0px;
        position: none;
    }

    .nav-active {
        transform: none;
    }
}

/* CSS för litauen.html (Fjärde sidan)*/

#litauen_wrapper {
    display: grid;
    grid-template-rows: 1fr 8fr 5fr 5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "na_1 na_1 na_1 na"
    "he he he he"
    "se_1 se_1 se_2 se_2"
    "ar_1 ar_1 ar_2 ar_2"
    ;
    max-width: fit-content;
    height: 100vh;
    width: 100vw;
}

#litauen_header {
    grid-area: he;
    background-color: greenyellow;
    padding: 5px;
    margin: 5px;
}

#litauen_header:hover img {
    transform: scale(1.015);
}

#litauen_headline {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: na_1;
    background-color: yellowgreen;
    padding: 5px;
    margin: 5px;
}

#section_litauen_kultur {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: se_1;
    background-color: red;
    padding: 5px;
    margin: 5px;
}

#article_litauen_kultur {
    grid-area: ar_1;
    background-color: royalblue;
    padding: 5px;
    margin: 5px;
}

#section_litauen_historia {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    grid-area: se_2;
    background-color: lightslategrey;
    padding: 5px;
    margin: 5px;
}

#article_litauen_historia {
    grid-area: ar_2;
    background-color: firebrick;
    padding: 5px;
    margin: 5px;
}

@media screen and (min-width: 800px) {

    .burger {
        display: none;
    }

    #litauen_wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr 7fr 4.6fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "na_1 na_1 na_1 na_1"
        "na na na na"
        "he he he he"
        "se_1 ar_1 se_2 ar_2"
        ;
    }
    #nav-links {
        flex-direction: row;
        top: 55px;
        left: 0px;
        position: none;
    }

    .nav-active {
        transform: none;
    }
}